@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    No address - virtual office<br />
    Redmond, WA 98052<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:darthpedro@gmail.com">DarthPedro</a><br />
</address>