@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h3>Welcome to d20 Dice Roller!</h3>
        <ul>
            <li>This sample web app lets you try out the OnePlat.DiceNotation library functionality.</li>
            <li>You can roll dice by selecting number of dice, type of dice, and modifier.</li>
            <li>You can also roll dice by providing a dice expression string that is parsed and rolled.</li>
        </ul>
    </div>
</div>
